header{
    padding: 0px;
    border: #3e2a1e;
    margin: auto;

}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: grey;
  color: #333;
  line-height: 1.6;
  padding: 30px;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #3e2a1e;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 30px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ede3d4;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
nav{
    padding: 15px;
    border: #a02209;
    background-color: #3e2a1e;
    background-position: 100%;
    border-radius: 40px;
    
}
